services:
  #  main backend application 
  backend:
    build: .
    volumes:
      #  This allows your backend to talk to the Docker engine
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "3000:3000" 
    networks:
      - backend

  # The Traefik reverse proxy (the "Concierge")
  traefik:
    image: "traefik:v2.10"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
    
      - "80:80"       # The main entry point for all web traffic
      - "8080:8080" 
                   # A dashboard to see Traefik's status
    networks:
      - backend
    volumes:
      # CRITICAL: This allows Traefik to listen for new Docker containers
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
networks:
  backend:
    name: backend