@import "tailwindcss";

@import "react-datepicker/dist/react-datepicker.css";
.fade-in {
  animation: fadeIn 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInLeft {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease forwards;
}

.teacher-cursor {
  border-left: 2px solid red !important;
}

.teacher-cursor-marker {
  background-color: rgba(255, 0, 0, 0.3);
}



@layer components {
  .avatar-announcements {
    @apply w-8 h-8 rounded-full  bg-gray-200 flex items-center justify-center text-gray-600 font-semibold
  }
  
  .button-createnew-popup{
    @apply relative flex items-center justify-center px-12 py-3 font-semibold rounded-full shadow-lg transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 bg-gradient-to-r from-blue-500 to-indigo-600 text-white hover:shadow-xl hover:-translate-y-1
  }

  .button-green-action{
    @apply inline-flex items-center justify-center px-5 py-2 bg-green-600 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 transition duration-200
  }

  .avatar {
    @apply flex flex-col items-center gap-2
           bg-gray-50 rounded-xl shadow p-4
           hover:bg-gray-100 transition;
  }

  .chat-bubble {
    @apply px-4 py-2 rounded-lg max-w-xs
           bg-blue-500 text-white
           shadow-md;
  }

  .chat-bubble.incoming {
    @apply bg-gray-200 text-gray-900 self-start;
  }

  .chat-bubble.outgoing {
    @apply bg-blue-500 text-white self-end;
  }
}
