@import "tailwindcss";


.fade-in {
  animation: fadeIn 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInLeft {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease forwards;
}

.teacher-cursor {
  border-left: 2px solid red !important;
}

.teacher-cursor-marker {
  background-color: rgba(255, 0, 0, 0.3);
}



@layer components {
  .avatar-announcements {
    @apply w-8 h-8 rounded-full  bg-gray-200 flex items-center justify-center text-gray-600 font-semibold
  }

  .avatar {
    @apply flex flex-col items-center gap-2
           bg-gray-50 rounded-xl shadow p-4
           hover:bg-gray-100 transition;
  }

  .chat-bubble {
    @apply px-4 py-2 rounded-lg max-w-xs
           bg-blue-500 text-white
           shadow-md;
  }

  .chat-bubble.incoming {
    @apply bg-gray-200 text-gray-900 self-start;
  }

  .chat-bubble.outgoing {
    @apply bg-blue-500 text-white self-end;
  }
}
